@import "./Nav.scss";
@import "./Table.scss";

.word-space {
  word-spacing: 2px;
}
.text-stroke {
  -webkit-text-stroke: 0.5px black;
}

#portal {
  position: absolute;
  @apply top-0 left-0 w-full;
}
.portal {
  height: 100vh;
}

*::-webkit-scrollbar {
  background: rgba(200, 210, 250, 0.7);
  width: 15px;
}
*::-webkit-scrollbar-thumb {
  width: 14px;
  background: rgba(64, 151, 228, 0.8);
  border-radius: 4px;
  cursor: grab;
}
*::-webkit-scrollbar-thumb:hover {
  // background: rgba(64, 130, 250, 1);
  border-radius: 5px;
  background: blue;
}
