table {
  max-height: 30vh;
  overflow-y: auto;
}
option {
  zoom: 1.1;
  height: 2rem !important;
  padding: 5px 0;
}
.pagination {
  @apply relative block rounded rounded-full px-3 py-1.5 mr-1 text-sm bg-transparent text-neutral-600 transition-all duration-300 hover:bg-blue-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white;
}
.pagination.active {
  @apply bg-blue-500 text-white font-medium  transition-all duration-300 hover:bg-blue-700 focus:outline-none;
}
.pagination-controls {
  @apply relative block rounded rounded-full bg-transparent px-2.5 py-1 text-lg text-neutral-600 transition-all duration-300 hover:bg-slate-200 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white leading-tight;
}

.tale {
  @apply text-center;
}
.tale.sn {
  @apply text-zinc-600 font-medium;
}
.tale.head {
  @apply px-3 py-3 text-zinc-700;
}
.tale.head.tight {
  width: 3.5rem;
  max-width: 5rem;
}
.tale.data {
  @apply px-4 py-3 mx-2 whitespace-nowrap;
}
.tale.actions {
  width: 3.5rem;
  & > svg {
    @apply text-slate-400 w-5 h-5 transition-all ease-in-out;
    &:first-child {
      @apply mr-2;
    }
  }
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    // @apply zoom-1.1;
    & > svg {
      @apply text-blue-600;
    }
  }
  &:last-child:hover > svg {
    @apply text-red-600;
  }
}
.tale.data.word-tight {
  word-spacing: -2px;
}
.tale.notes {
  font-size: 0.85rem;
  width: 12rem;
  text-wrap: wrap;
  line-height: 1.1;
}
.tale.row {
  border: 10px solid rgb(241 245 249);
}

// .span2 {
//   grid-column: span 2;
// }
